* {
    margin: 0;
    padding: 0;
}

.content {
    font-family: 'Titan One', cursive;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 75px !important;
    text-align: center;
    color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1#banner {
    font-size: 75px !important;
    text-align: center;
    color: black !important; 
}


p {
    font-family: 'Caveat', cursive;
    font-size: 40px !important;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
 

#map {
   height: 500px;
   width: 800px;
   margin: auto;
   border: solid black;

}


#box2 {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/plainlogo.png);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box3 {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/friends.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box4 {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/sprinkles2.jpg");
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

#box5 {
    height: 100vh;
    width: 100%;
     background-image: url(../assets/images/chocolate.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
 .nav navbar-nav navbar-right {
     padding-right: 45px !important;
 }

